# Expo
.expo/
.expo-shared/
dist/
node_modules/

# iOS
ios/
*.pbxproj
*.xcworkspace
*.xcodeproj
Podfile.lock
Pods/

# Android
android/
*.iml
.idea
.gradle
local.properties

# Environment
.env
.env.local
.env.production

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
